

	.rajdhani-light {
		font-family: "Rajdhani", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		font-size:20px;
		color: white;
	}

	
	body{
		background-color: #1D1D1D;
	}
	
	nav ul {
		list-style-type: none;
		display:flex;
		justify-content: center;
		margin-left: 30px;
		
	}
	
	nav ul li {
		margin: 0 100px;
		transition: transform 0.3s;
	}
	
	nav ul li {
		margin: 0 100px;
	}
	
	nav ul li:hover {
    transform: scale(1.1);
	}
	
	nav a:hover{
		color: #BBF9FF;
	}
	
	p{
		font-family: "Barlow", sans-serif;
		font-weight: 100;
		font-style: normal;
		color:white;
	}
	
	#SobreMitxt{
		color:white;
		text-align:justify;
		margin-left: 300px;
		margin-right: 900px;
		margin-top: 200px;
	}
	
	#fotopolgranado img {
    width: 200px;
    height: auto;
    max-width: 300px;
	border-radius: 10px;
	margin-top:-200px;
	margin-left:60px;
	}
	
	h2{
		font-size:40px;
		color: white;
		font-family: "Rajdhani", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
	}
	
	.listagustos {
    margin-top: -350px; 
    margin-left: 900px; 
	list-style-type: none;
	}
	
	.titulos{
		color:white;
		font-family: "Rajdhani", sans-serif;
		text-align:center;
	}
	
	ul.currilumestudios {
		margin-left:150px;
		margin-top:100px;
		list-style-type: none;
	}
	
	#Curriculumtexto{
		text-align:justify;
		margin-left: 900px;
		margin-right: 300px;
		margin-top:-130px;
		font-size:18px;
	}
	
	li{
	color:white;
	font-family: "Rajdhani";
	list-style-type: none;
	font-size:18px;
	}
	
	ul.habilidades{
		margin-left:150px;
		font-size:18px;
	}
	
	ul.contactolistadatos{
		margin-left:200px;
		margin-top:100px;
	}
	
	#form_contacto{
    margin-top: -150px; 
    padding-left: 800px;
	}
	
	#form_loginadmin{
	text-align:center;
	margin-top:70px;
	}

	#contenido {
		transition: transform 2s; /* Ajusta la duración de la animación a tu preferencia */
	}

	button {
		position: fixed; /* O cualquier otra posición que asegure que el botón no gire */
		bottom: 20px;
		right: 20px;
		z-index: 1000; /* Asegura que el botón se mantenga encima del contenido girado */
	}
	
	
	
	#Volteretas img {
		width: 100px;
		height: 100px;
		transition: transform 2s;
	}

	#Volteretas:hover img {
		transform: translateX(1400px); /*Lo que hace es que cuando pasemos por encima de la imagen la iamgen se mueva en posicion X 1400px */
}
	
	