.rajdhani-light {
		font-family: "Rajdhani", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		font-size:20px;
		color: white;
	}

	
	body{
		background-color:pink;
	}
	
	nav ul {
		list-style-type: none;
		display:flex;
		justify-content: center;
		margin-left: 30px;
		
	}
	
	nav ul li {
		margin: 0 100px;
		transition: transform 0.3s;
	}
	
	nav ul li {
		margin: 0 100px;
	}
	
	nav ul li:hover {
    transform: scale(1.1);
	}
	
	nav a:hover{
		color: #BBF9FF;
	}
	
	.heart {
  position: absolute;
  font-size: 15px;
  color: red;
  animation: fall linear infinite;
  opacity: 0;
}


@keyframes fall {
  0% {
    top: -10%;
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.heart {
  animation-duration: 10s;
  animation-delay: calc(-5s * var(--i));
  left: calc(11% * var(--i));
}

#foto_pol_samvalentin img {
    width: 200px;
    height: auto;
    max-width: 300px;
	border-radius: 10px;
	margin-top:100px;
	margin-left:60px;
	}
	

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#TextoSanVaLentin{
		text-align:justify;
		margin-left: 300px;
		margin-right: 800px;
		margin-top: -200px;
	}

#fotosanvalentin{
	position:relative;
	margin-left:900px;
	margin-top:-300px;
	}
	
#form_contacto{
    margin-top: -150px; 
    padding-left: 500px;
	}

